{% extends "base.html" %}

{% block page_title %}
    About Me
{% endblock %}

{% block content %}

<div class="entry_box">
<img src="/site_media/images/barbara_small.jpg" align="right" vspace="10" hspace="10">
No, I'm not the next <a href="http://leahculver.com/">Leah Culver</a>.  Not even close.  I'm just a girl who writes <a href="http://www.python.org/">Python</a> and prefers the <a href="http://www.djangoproject.com/">Django framework</a>.  When I started learning Django, I was impressed with all the documentation and community involvement, but still surprised by some of the code samples I didn't find.
<br /><br />
So this blog is my attempt to contribute to the ever-growing pool of examples of how to get things done.  Hopefully my ramblings will help someone else out there, but these aren't the words of an expert, just the results of my fiddling around and figuring things out on my own.
<br /><br />
<a href="http://www.new.facebook.com/profile.php?id=619572465">Facebook</a><br />
<a href="http://www.linkedin.com/pub/0/552/639">LinkedIn</a><br />
<a href="http://bloodredrosev.livejournal.com/">LiveJournal</a><br />
<a href="http://twitter.com/bshaurette">Twitter</a><br />
<a href="http://djangopeople.net/bshaurette/">Djange People</a><br />
<a href="http://www.yelp.com/user_details?userid=O71QqyhC3M_PBL90MxZKIw">Yelp</a><br />
</div>

{% endblock %}
