<div class="header">
    <div id="logo">
	<!--
        <h2><a href="/">djangrrl</a></h2>
	-->
    </div>

</div>

<div id="pages">
    <div class="pagelinks" style="float: left; padding-left: 10px;">
	<a href="/">HOME</a>
    </div>
    <div class="pagelinks">
        <a href="/feeds/all/"><img src="/site_media/images/001_33.gif" width="20"></a>
    </div>
    <div class="pagelinks">
        <a href="/pages/about/">ABOUT</a>
    </div>
    <!-- <div class="pagelinks">
        <a href="/pages/resume/">RESUME</a>
    </div>
    -->
</div>

